section.modal 
  h2.modal__title About 
  p.modal__text This site was built to practice my coding skills. I used a mobile first design philosogy incorporating Grid and Flexbox and using scss for the first time. I used an API called 
    a(href="https://www.themealdb.com/api.php" target='_blank') TheMealDB.
    p.modal__text My own site is 
      a(href="https://eturner-bisset.github.io/My-Site/index.html" target='_blank') Eleanor Turner-Bisset 
      p.modal__text where you can find links to the code for this site and others.
  button.modal__close(title='Close') 
    i.fa-solid.fa-times
footer.footer
  p.date= `ETB ©️ Copyright ${date}`
    button.open-about( title='About') About